asgiref==3.8.1
diploma-frontend @ file:///Users/skillboxstudy/PycharmProjects/MeganoShop_django/shop_megano/diploma-frontend/dist/diploma-frontend-0.6.tar.gz#sha256=d8ffd5df7377a4555e2245e1b1ecfff83a92c3e17fdf61c84a996f63b9f1af9f
Django==5.0.6
django-rest-framework==0.1.0
djangorestframework==3.15.1
pillow==10.3.0
setuptools==69.5.1
sqlparse==0.5.0
tzdata==2024.1
